.weathermatic-cold {
	background-color: #97A8E0;
}

.weathermatic-cool {
	background-color: #9ECCEB;
}

.weathermatic-warm {
	background-color: #DBAD8E;
}

.weathermatic-hot {
	background-color: #C79181s;
}