.weathermatic-cold {
	background-color: #4875B4;
	border-color: color(#4875B4 shade(10%));
}

.weathermatic-cool {
	background-color: #FABB3D;
	border-color: color(#FABB3D shade(10%));
}

.weathermatic-warm {
	background-color: #FAA041;
	border-color: color(#FAA041 shade(10%));
}

.weathermatic-hot {
	background-color: #FF5454;
	border-color: color(#FF5454 shade(10%));
}