.day-list {
	display: flex	
}

@media (max-width: 600px) {
  .day-list {
		flex-direction: column;
	}
}

@media (min-width: 601px) {
	.day-list {
		flex-direction: row;	
	}
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
	.day-list {
		flex-direction: column;
	}
}